In [1]:
import numpy as  np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('datasets/categorizer_dataset_saved.csv')

In [3]:
df.head()

,Unnamed: 0,text,hate_speech,cyberbullying,crime/threat
0,0,dalits are lowlives,1,0,0
1,1,gay people are a burden to our society,1,0,0
2,2,Arabs are not welcome,1,0,0
3,3,I'm not saying we should actually eliminate he...,1,0,0
4,4,bananas are for black people,1,0,0

In [4]:
df.describe()

          Unnamed: 0    hate_speech  cyberbullying   crime/threat
count  101708.000000  101708.000000  101708.000000  101708.000000
mean    50853.500000       0.538552       0.455490       0.005958
std     29360.714927       0.498514       0.498017       0.076960
min         0.000000       0.000000       0.000000       0.000000
25%     25426.750000       0.000000       0.000000       0.000000
50%     50853.500000       1.000000       0.000000       0.000000
75%     76280.250000       1.000000       1.000000       0.000000
max    101707.000000       1.000000       1.000000       1.000000

In [6]:
df.shape

(101708, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101708 entries, 0 to 101707
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     101708 non-null  int64
 1   text           101708 non-null  object
 2   hate_speech    101708 non-null  int64
 3   cyberbullying  101708 non-null  int64
 4   crime/threat   101708 non-null  int64
dtypes: int64(4), object(1)
memory usage: 3.9+ MB

In [8]:
# removing the unnamed extra index column that was formed during the construction of the dataset
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)

In [ ]:
df